/*body*/
body{
  background-image: url("../img/fondo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

/*nav*/
nav {
  height: 140px;
}
nav img{
  margin-top: 10px;
}

/*article*/
article img{
  margin-bottom: 10px;
}
article p{
  text-align: justify;
}
